<a href="https://colab.research.google.com/github/zamil-akhter/Java/blob/master/PandasProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 

#read the CSV file and storing in data
data = pd.read_csv('train.csv')

#Printing the whole data
print(data)

In [87]:
#printing the column name which have atleast one null value and storing that column name in nullcolumn list
nullcolumn = []
for i in data:
  d = data[i].isna()
  count = 0
  for j in d:
    if(j == True):
      count += 1
  if count > 0:
    print(i, count)
    nullcolumn.append(i)

LotFrontage 259
Alley 1369
MasVnrType 8
MasVnrArea 8
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
FireplaceQu 690
GarageType 81
GarageYrBlt 81
GarageFinish 81
GarageQual 81
GarageCond 81
PoolQC 1453
Fence 1179
MiscFeature 1406

In [ ]:
nullcolumn1 = data.isnull().sum()
print(nullcolumn1.to_string())

In [ ]:
#column name as a list which is containing null. 
print(nullcolumn)

In [ ]:
#Conting the null value from "MSSubClass" column
d = data["MSSubClass"].isna()
count = 0
for i in d:
  if(i == True):
    count += 1
print("Total Number of null in MSSubClass Column is ",count)

In [ ]:
#puting mean value at the place of NaN in "LotFrontage" column
meanValue = data["LotFrontage"].mean()
data["LotFrontage"].fillna(meanValue, inplace = True)
print(data.to_string())

In [ ]:
#Replacing unwanted value with mode value in "MSZoning" column
d = data["MSZoning"].unique()
req = ['A', 'C', 'FV', 'I', 'RH', 'RL', 'RP', 'RM']
for i in d:
  if i not in req:
    modeVal = data["MSZoning"].mode()[0]
    data["MSZoning"].replace(i,modeVal, inplace = True)
print(data["MSZoning"].to_string())

In [ ]:
#Filling mode value in place of NA cell.
mode_val = data["Alley"].mode()
data["Alley"].fillna(mode_val, inplace = True)
print(data["Alley"].to_string())

In [ ]:
#Replacing None value from "MasVnrType" column
mode_MasVnrType = data["MasVnrType"].mode()[0]
d = data["MasVnrType"]
print(d.head(20))

In [ ]:
print(data["MasVnrArea"].head(50))

In [ ]:
data["MasVnrArea"].describe()